#postinformation{
    background-color: #31B0D5;
    padding: 5px;
    color: #083167;
}

#postinformation nav{
    display: inline;
}

#postinformation nav a{
    padding: 15px 15px;
    color: #083167;
}

#postinformation time{
    float: right;
    padding-right: 25px;
}