

#category{
    padding: inherit;
    
}


#child-category-selector{
    width: 100%;
    padding-top: 20px;
    float: left;
}



/* hell hinterlegte subcategory-navigation */
.post{
    background-color: #E5E5E5;
    padding-right: inherit;
    padding-left: inherit;
}

#subcategory-selector{
    width: 33%;
    padding: 0px 20px 0px 60px;
}

#AllPostings{
    margin-left: 33%;
}

.post article{
    padding: 10px 20px;
}



/* Categorie-wähler */
a.btn.btn-info.active{
    font-weight: bold;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info{
    background-color: lightgray;
    color: slategray;
}

.btn-info{
    background-color: slategray;
    border: inherit;
    border-radius: inherit;
}

/* zurück-button */
#back-Nav{
    background-color:lightgray;
    position:absolute;
    height: 190px;
    width: 40px;
    margin-left: -15px;
    color: slategrey;
    padding: 10px;
}
#back-Nav:hover{
    background-color: lightslategrey;
    color:lightgray;
    transition: all 0.4s ease-in;
}




#back-Nav p{
    transform: rotate(90deg);
    margin-top: 10px;
}



/* navigation Next bzw. previous */
.postnav{
    margin-left: 33%;
}