#category-Background{
    background-color: #F5C1C2;
}

#category{
    background-color: #E03A3E;
    padding: inherit;
}

#category ul{
    display: inline;
}

#child-category-selector{
    width: 100%;
    padding-top: 20px;
    float: left;
}


.post-Background{
    background-color: #DEC2DE;
}

/* hell hinterlegte subcategory-navigation */
.post{
    background-color: #A65CA7;
    padding-right: inherit;
    padding-left: inherit;
}

#subcategory-selector{
    width: 33%;
    padding: 0px 20px 0px 60px;
}

#AllPostings{
    margin-left: 33%;
}

.post article{
    background-color: #963D97;
    padding: 10px 20px;
}



/* Categorie-wähler */
a.btn.btn-info.active{
    font-weight: bold;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info{
    background-color: #E76B6E;
    border-color: transparent ;
}

.btn-info{
    background-color: #E03A3E;
    border-color: transparent ;
}

/* zurück-button */
#back-Nav{
    background-color:#DEC4DF;
    position:absolute;
    height: 300px;
    width: 40px;
    margin-left: -15px;
    color: white;
    padding: 10px;
}
