#footer-Background{
    background-color: #AFE0F4;
    height: 130px;
}

#footer{
    background-color: #009DDC;
}

#footer a{
    color: white;
}
#footer li{
    display: inline;
    
}

#footernav ul{
    margin-bottom: auto;
}

#socialMedia img {
    height: 50px;
}
