#footer-Background{
    
    /*
    bottom: -85px;
    position: absolute;
    
    */
    
    background-color: #AFE0F4;
    width: 100%;
    height: 130px;
}

#footer{
    background-color: #009DDC;
}

#footer a{
    color: white;
}
#footer li{
    display: inline;
    
}

#footernav ul{
    margin-bottom: auto;
}

#socialMedia img {
    height: 50px;
}
