#posttitel{
    grid-row: 1;
    grid-column: span 9;
    background-color: yellow;


}
#branding{
    grid-column: 11 / span 2;






}
.verticalCenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);


}
.centerChilds{
    justify-content: center;

    border-style: none none none solid;
    padding: 10px 0px 10px 20px;
    border-width: 1px;
}

header{
    margin-top: 20px;
}

nav{
    grid-row: 2;
    grid-column: span 12;
}

#pageDescription{
    word-spacing: 100vw;
}

#fittyR{
    height: 100px;
}

.fitty{
}