#posttitel{
    grid-row: 1;
    grid-column: span 8;
    max-width: 100%;
}

#posttitel > div{
    /* Fix for Chromium */
    display: inline;
}
#branding{
    grid-column: 10 / span 2;

}


.centerChilds > a{
    color: darkblue;
}

.verticalCenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);


}
.centerChilds{
    justify-content: center;

    border-style: none none none solid;
    border-color: darkgray;
    padding: 10px 0px 10px 20px;
    border-width: 0.5px;
}

header{
    margin-top: 20px;
}

nav{
    grid-row: 2;
    grid-column: span 12;
    position: fixed;
}


#pageDescription{
    word-spacing: 100vw;
}

/* Bootstrap navigation */

.navbar{
    padding: inherit;
}

.navbar > .container{
    padding-left: inherit;
}

.blur{
    -webkit-backdrop-filter: blur(7px);
    -moz-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background-color: rgba(248, 249, 250, 0.51);
}


.container{
    max-width: inherit;
}

@media(max-width: 768px) {
    nav{
        background-color: #f8f9fa;
    }
}

@media(min-width: 768px) {
    nav{
        margin-top: 1em;
        border-style: solid none;
        border-width: 0.5px;
        border-color: darkgray;
    }
}