#posttitel{
    grid-row: 1;
    grid-column: span 8;
    max-width: 100%;
}

#posttitel > div{
    /* Fix for Chromium */
    display: inline;
}
#branding{
    grid-column: 10 / span 2;

}

#postinformation nav:after{
  content: "";
  width: 100%;
}

#postinformation nav a{
  display: inline-block;
}

.centerChilds > a{
    color: var(--secondaryLinkColor);
}

.verticalCenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);


}
.centerChilds{
    justify-content: center;
    border-style: none none none solid;
    border-color: var(--mainDecorationColor);
    padding: var(--secondaryMargin) 0 var(--secondaryMargin) var(--mainMargin);
    border-width: 0.5px;
}

header{
    margin-top: var(--mainMargin);
    font-family: 'Ubuntu', sans-serif;
    z-index: 1;
}

header nav{
    grid-row: 2;
    grid-column: span 12;
    position: fixed;
}


#pageDescription{
    word-spacing: 100vw;
}

/* Bootstrap navigation */

.navbar{
    padding: inherit;
}

.navbar > .container{
    padding-left: inherit;
}

.blur{
    -webkit-backdrop-filter: blur(7px);
    -moz-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

@supports not (backdrop-filter: blur(7px))  {
  header.blur{
      background-color: rgba(255,255,255, 0.9)!important;
  }
}

header.blur{
  background-color: rgba(255,255,255, 0.5);
}


.sticky{
  position: sticky;
  top: 0;
}


.container{
    max-width: inherit;
}

@media(max-width: 768px) {
    header nav{
        background-color: var(--secondaryDecorationColor);
    }
}

@media(min-width: 768px) {
    header nav{
        margin-top: var(--mainMargin);
        border-style: solid none;
        border-width: 0.5px;
        border-color: darkgray;
    }
}
