main{
    margin-top: var(--mainMargin);
}

main article{
  line-height: calc(0.5vw + 1.5em);
}

#postinformation nav a{
  background-color: var(--secondaryDecorationColor);
  color: var(--processbar);
  padding: 0.2em 1.2em;
  border-radius: 0.35em;
  margin: 1em 0em;
}

#postinformation nav a:hover{
  background-color: var(--mainDecorationColor);
  color: black;
  text-decoration: none;
}

#subcategorySelector span{
  grid-column-start: 7;
  grid-row: 3;
}
