/*
++*Inhalt++*
*Generelles
*Inhalt
*Hintergrund
*Gruener Banner Datum
*/

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Code+Pro);




/* Generell */
body, html{
    background-color: #AFE0F4;
   
}

.center{
    max-width: 1100px;
    margin: 0px auto;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    min-height: 100%;
    color: white;
    padding-left: 15px;
    padding-right: 35px;
}





/* Navigation */


.navbar-inverse a{
    color: #FFF !important;
}


/* aktive Elemente im menü */
#header-Background, .current-menu-item a, .open .dropdown-toggle, .navbar-toggle:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #CDE9C4 !important;
    color: #61BB46 !important;
}

/* Rahmen des Menüs */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-toggle{
    border: none;
    border-radius: inherit;
    
}

@media(min-width: 768px){
    .navbar-brand{
        font-size: 2em;
        padding-top: 40px;
    }
    
    .navbar-nav > li > a{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    
}

.navbar-nav > li > a{
    font-weight: 200;
    font-size: 18px;
}


#header-Background .navbar, .dropdown-menu {
    border-radius: inherit;
    margin: inherit;
    background-color: #61BB46;
    border-width: inherit;
}

#header{
    padding: inherit;
}






/* Headline */
#headline {
    background-color: #FDB827;
}

#headline-background {
    background-color: #FEE8BB;
}

#headline h1 {
    margin-top: auto;
    color: white;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 4em;
}


img{
    max-width: 100%;
}