/*
++*Inhalt++*
*Generelles
*Inhalt
*Hintergrund
*Gruener Banner Datum
*/

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Code+Pro);




/* Generell */
img{
    max-width: 100%;
    filter: grayscale(40%);
}
img:hover{
    filter: grayscale(0%);
    transition: all 1s;
}


.center{
    max-width: 1100px;
    margin: 0px auto;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    min-height: 100%;
    padding-left: 15px;
    padding-right: 35px;
}

* > article{
    color: #083167;
    font-size: 1.1em;
}

a{
    color: #24324C;
}




/* Navigation */


.navbar-inverse a{
    color: #FFF !important;
}


/* aktive Elemente im menü */
.current-menu-item a, .open .dropdown-toggle, .navbar-toggle:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #E5E5E5 !important;
    color: #083167 !important;
    font-weight: 300;
    
}

/* Rahmen des Menüs */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-toggle{
    border: none;
    border-radius: inherit;
}

/*
@media(max-width: 768px){
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-toggle{
        float: left;
        margin-left: 10px;
        margin-right: auto;
    }
}
*/

@media(min-width: 768px){
    .navbar-brand{
        font-size: 2em;
        padding-top: 40px;
    }
    
    .navbar-nav > li > a{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    
}

.navbar-nav > li > a{
    font-weight: 200;
    font-size: 18px;
}


#header-Background .navbar, .dropdown-menu {
    border-radius: inherit;
    margin: inherit;
    background-color: #083167;
    border-width: 0px;
}

#header{
    padding: 0px;
}

@media(min-width: 1100px){
    #header{
        margin-top: 60px;
    }
}


button{
    background-color: #708090;
    padding: 10px 20px;
    color: white;
    border: inherit;
}




